@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "sb-admin-2";
@import "plugins/dataTables.bootstrap";

.container {
  margin: 0 auto;

  .starter-template {
    padding: 10px 15px;
    text-align: center;
  }
}

#map {
  width: inherit;
  height: inherit;
  min-height: inherit;
}